<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.example.paincare.servlets.authentification.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>com.example.paincare.servlets.authentification.signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>googleAuthServlet</servlet-name>
        <servlet-class>com.example.paincare.servlets.authentification.googleAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>painCare</servlet-name>
        <servlet-class>com.example.paincare.servlets.pain.painCare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>painTest</servlet-name>
        <servlet-class>com.example.paincare.servlets.pain.painTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>googleAuthServlet</servlet-name>
        <url-pattern>/auth/google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>painCare</servlet-name>
        <url-pattern>/pain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>painTest</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>